{% extends 'base.html' %}

{% block content %}  <div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="#">Register</a></p>
  </div>
  
  {% include "home.html" %}
  {% endblock %}

{% block title %}login page{% endblock %}